@using Minder.Models
@model Profile

@{
    ViewBag.Title = "Edit your profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<main class="text-center">
    <section class="well-3" id="welcome">
        <div class="row">
            <h2 class="hidden-xs">@ViewBag.Title</h2>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="rd-mailform">
                    <h5 class="text-center">Edit your profile and find true love.</h5>

                    @Html.Partial("_EditProfilePartial", Model)
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}